.section-specialty {
    height: 330px;
    background-color: #f5f5f5;

    .specialty-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .specialty-header {
            height: 60px;
            padding-top: 30px;
            margin-bottom: 30px;
            display: flex;
            .title-section {
                font-size: 24px;
                font-weight: 600;
                flex: 1;
            }

            .btn-section {
                padding: 10px 15px;
                outline: none;
                border: none;
                background-color: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                    color: white;
                    background-color: #f7d800;
                }
            }
        }

        .specialty-body {
            .specialty-customize {
                .bg-image {
                    width: 320px;
                    height: 150px;
                    background: url("../../../assets/specialty/cosuongkhop.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }

            .slick-slider {
                height: 100%;
            }

            .slick-list {
                height: 100%;
            }

            .slick-prev {
                background-color: #fff !important;
                width: 44px !important;
                height: 48px !important;
                left: -10px !important;
                left: 0 !important;
                z-index: 10 !important;
                &:hover {
                    background: #ececec;
                }
            }

            .slick-prev::before,
            .slick-next::before {
                font-family: FontAwesome !important;
                color: red !important;
            }

            .slick-next {
                background-color: #fff !important;
                width: 44px !important;
                height: 48px !important;
                right: -10px !important;
                z-index: 10 !important;
                &:hover {
                    background: #ececec;
                }
            }
        }
    }
}
